/* CSS HEX */
:root {
    --little-boy-blue: #6EAAEBff;
    --light-xiketic: #140815;
    --opera-mauve: #BA7DABff;
    --rich-black-fogra-10: rgba(28, 13, 29, 0.91)
}

/* 
font-family: 'Lalezar', cursive;
font-family: 'Work Sans', sans-serif;
font-family: 'Comfortaa', cursive; 
*/
* {
    margin: 0;
    box-sizing: border-box;
}

*:active {
    outline: none;
}

html {
    scroll-behavior: smooth;
}

body {
    color: whitesmoke;
    background-color: var(--light-xiketic);
    font-family: 'Work Sans', sans-serif;
}

/* Navbar */
nav {
    min-height: 60px;
    background-color: var(--rich-black-fogra-10);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    margin-inline: auto;
    justify-content: space-around;
    box-shadow: 0 0 10px 5px black;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 5;
}

#logo {
    cursor: pointer;
    display: flex;
    align-items: center;
    font-family: 'Lalezar', cursive;
}

#logo img {
    height: 50px;
    width: auto;
}

nav ul {
    flex-basis: 45%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    font-family: 'Work Sans', sans-serif;
}

nav li {
    word-break: keep-all;
}

nav ul a {
    text-transform: uppercase;
    text-shadow: 0 0 10px black;
    color: white;
    text-decoration: none;
    padding: clamp(5px 20px, 8px 20px);
}

nav a:hover {
    color: var(--little-boy-blue)
}

nav button {
    font-size: 14px;
    font-weight: normal;
}

/* header first section */
header {
    min-height: 120vh;
    background: url('../img/headerpc.png');
    background-position: right bottom;
    background-size: 50%;
    background-repeat: no-repeat;
}

header .headercontainer {
    padding: 20px 60px;
    min-height: inherit;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-evenly;
    align-items: flex-start;
}

header h1 {
    font-family: 'Lalezar';
    font-size: 3em;
}

header p {
    color: var(--opera-mauve);
}

#youtube-sub {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
    background: linear-gradient(45deg, #273045, #111B36);
    padding: 50px;
    border-radius: 10px;
    animation: box-shadow 3s ease-in-out alternate infinite;
    transition: box-shadow 1s ease-in-out;

}

@keyframes box-shadow {
    from {
        box-shadow: rgba(77, 107, 156, 0.4) -5px 5px, rgba(77, 107, 156, 0.3) -10px 10px, rgba(77, 107, 156, 0.2) -15px 15px, rgba(77, 107, 156, 0.1) -20px 20px, rgb(18, 35, 63) -25px 25px;
    }

    to {
        box-shadow: rgba(92, 237, 253, 0.4) 5px 5px, rgba(92, 237, 253, 0.3) 10px 10px, rgba(92, 237, 253, 0.2) 15px 15px, rgba(92, 237, 253, 0.1) 20px 20px, rgb(0, 49, 54) 25px 25px;
    }
}

/* About me */
#about_me {
    background-image: url('../img/moreSection.svg');
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}

#about_me_container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    padding: 80px 60px;
}

#aboutImg {
    flex: 1;
    animation: shadow 5s ease infinite alternate;
    border-radius: 50%;

}

#aboutImg img {
    width: 300px;
    clip-path: circle(50% at 50% 50%);
    height: auto;
}

@keyframes shadow {
    0% {
        box-shadow: 5px 5px 13px 10px rgba(0, 0, 0),
            -5px -5px 13px 5px rgb(255, 159, 239);
    }

    25% {
        box-shadow: 5px 5px 17px 15px rgba(0, 0, 0),
            -5px -5px 17px 10px rgb(255, 159, 239);
        opacity: 0.8;
    }

    50% {
        box-shadow: 5px 5px 25px 20px rgba(0, 0, 0),
            -5px -5px 25px 15px rgb(255, 159, 239);
        opacity: 0.5;
    }

    75% {
        box-shadow: 5px 5px 17px 15px rgba(0, 0, 0),
            -5px -5px 17px 10px rgb(255, 159, 239);
        opacity: 0.8;
    }

    100% {
        box-shadow: 5px 5px 13px 10px rgba(0, 0, 0),
            -5px -5px 13px 5px rgb(255, 159, 239);
    }
}

.aboutTextItems {
    flex: 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 60px;
}

.aboutTextItems h1 {
    font-size: 2em;
}

.aboutTextItems hr {
    width: 100%;
}



/* Form  */
form {
    border-radius: 10px;
    margin-top: 30px;
    padding: 30px 20px;
    transition: all 0.2s ease-in-out;
    font-family: 'Work Sans', sans-serif;
    margin-inline: auto;
    max-width: 80vw;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

form:focus-within,
form:focus {
    animation: shadow-change 2s ease infinite alternate;
}

@keyframes shadow-change {
    from {
        box-shadow: rgba(197, 121, 227, 0.5) 0px 0 25px 10px;
    }

    to {
        box-shadow: rgba(197, 121, 227, 0.5) 0px 0 40px 12px;
    }

}

input[type=text],
input[type=email],
select,
textarea {
    font-size: 16px;
    color: white;
    width: 100%;
    padding: 12px;
    border: 1px solid var(--light-xiketic);
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
    caret-color: var(--opera-mauve);
    background-color: #273045;
}

input:active,
input:focus,
textarea {
    outline: none;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

form .btn {
    border: none;
    display: block;
    margin: auto;
    padding: 10px 60px;
}

/* More Section / GitHub Stats */
#moreSection {
    background-image: url('../img/github-bg.svg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.githubStatsImg {
    margin-inline: auto;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    gap: 4vmin;
    padding: 8vmin 0;
}

.githubStatsImg img {
    width: 90%;
    max-width: 600px;
}

.githubStatsImg img:last-child {
    max-width: 96vw;
}

#meme {
    text-align: center;
}

#meme h2 {
    font-family: 'Lalezar', cursive;
    color: var(--little-boy-blue);
}

/* ------------------Footer---------------------- */
footer {
    min-height: 40px;
    background-color: var(--rich-black-fogra-10);
    padding: 10px 0;
    text-align: center;
    color: rgba(255, 255, 255, 0.473);
}

footer ul {
    list-style: none;
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    column-gap: 30px;

}

#footerMenu {
    padding: 8px 0;
}

#footerMenu,
footer ul a {
    color: rgba(255, 255, 255, 0.63);
}

#footerMenu,
footer ul a:hover {
    color: rgba(255, 255, 255, 0.712);
}

footer ul a {
    text-decoration: none;
    font-family: 'Comfortaa', cursive;
    font-size: 0.9em;
}

#copyRight {
    padding: 8px 0;
}

footer hr {
    margin-inline: auto;
    width: 60%;
}




/* =================  Media Query ===================== */

@media screen and (max-width: 850px) {
    nav .btn {
        display: none;
        visibility: hidden;
        width: 0;
        height: 0;
    }

    nav {
        justify-content: space-between;
        flex-flow: row wrap;
    }

    #logo img {
        height: 35px;
    }

    nav ul {
        padding: 0 5px 0 0px;
        flex-basis: 70%;
    }


    header {
        min-height: 100vh;
        background-position: right center;
        background-size: 80%;
    }

    header .headercontainer {
        padding: 10px 50px;
        min-height: inherit;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        align-items: flex-start;
    }

    header {
        text-shadow: 0 0 7px black;
    }

    header h1 {
        font-family: 'Lalezar';
        font-size: 4em;
    }

    #about_me_container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        gap: 30px;
        padding: 60px 20px;
    }

    #aboutImg {
        flex: 1;
        animation: shadow 3s infinite alternate;
        border-radius: 50%;

    }

    #aboutImg img {
        width: 200px;
        clip-path: circle(50% at 50% 50%);
        height: auto;
    }

    form:focus-within,
    form:focus,
    form:hover {
        animation: none;
    }


}

@media screen and (max-width: 685px) {
    nav {
        flex-flow: column wrap;
        justify-content: center;
    }

    nav ul {
        width: 100%;
        padding: 10px 5px 20px;

    }

    header {
        min-height: 90vh;
        background-position: center;
        background-size: 90%;
    }

    header .headercontainer {
        padding: 10px 30px;
        min-height: inherit;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-around;
        align-items: flex-start;
    }

    header {
        text-shadow: 0 0 7px black;
    }

    header h1 {
        font-family: 'Lalezar';
        font-size: 2em;
    }

    #about_me_container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        gap: 40px;
        padding: 80px 60px;
        text-align: center;
    }

    #aboutImg {
        text-align: center;
        flex: 1;
        animation: none;
        border-radius: 50%;

    }

    #aboutImg img {
        width: 150px;
        clip-path: circle(50% at 50% 50%);
        height: auto;
    }


    .aboutTextItems {
        flex: 3;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
    }

    .aboutTextItems h1 {
        font-size: 2em;
    }

    .aboutTextItems hr {
        width: 100%;
    }

    form {
        border-radius: 8px;
        margin-top: 10px;
        padding: 20px 10px;
        max-width: 95vw;
    }

    .sect_head {
        text-align: center;
        font-size: 2em;
        line-height: 40px;
        position: relative;
        padding-bottom: 20px;
        text-shadow: 0 0 10px solid black;
    }

}